@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Oswald:wght@300&display=swap');

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Oswald', sans-serif;
}